@media only screen and (max-width: 768px) {
    .description {
        flex-wrap: wrap;
    }
    .container {
        max-width: 100%;
    }

    .card__list {
        flex-wrap: wrap;
    }
    .menu {
        flex-wrap: wrap;
    }
}