@import "media.css";
body {
    background: linear-gradient(45deg, #f7bf80, #fad0c4); 
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.field {
    background-color: #fff;
    padding: 70px 90px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    background-color: #f7c08085;
    border: 2px solid #cf9c4e;

}

.field>h2 {
    font-size: 60px;
}

.field>p {
    font-size: 20px;
}

input {
    padding: 10px 20px;
    border: 2px solid #e0a0279c;
    border-radius: 4px;
    text-align: center;
}

.button {
    display: block;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px 50px;
    border-radius: 4px;
    background-color: rgba(238, 136, 40, 0.774);
    color: rgb(7, 7, 7);
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 0.5px solid #333;
    text-decoration: none;
}

.button:hover {
    background-color: #f77d2c;
}


.home {
    padding: 10px 50px;
    border-radius: 4px;
    background-color: rgba(226, 142, 63, 0.774);
    color: rgb(58, 53, 53);
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 0.5px solid #333;
    text-decoration: none;
}

.home:hover {
    background-color: #e78949;
}